.showcase {
  width: 100%;
  height: 100vh;
  padding: 4rem 4rem;
}

li {
  list-style: none;
}

.parameters {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white; 
}

.temperature {
  font-size: 50px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.measures {
  font-size: 40px;
  font-weight: 500;
}

img {
  height: 100px;
  width: 100px;
}

.description {
  font-size: 20px;
}